# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

# Group the dataframe by the column 'Legendary'
pokemon_leg = pokemon.groupby(by='Legendary')

# Count the number of Pokemon
pokemon_leg.count().reset_index()

,Legendary,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,False,735,735,735,374,735,735,735,735,735,735,735,735
1,True,65,65,65,40,65,65,65,65,65,65,65,65

In [5]:
# Print the answer on the screen
print(f"Number of Pokemon\nNon-legendary: {pokemon_leg.count()['Generation'][0]}\nLegendary: {pokemon_leg.count()['Generation'][1]}")

Number of Pokemon
Non-legendary: 735
Legendary: 65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

# Compute mean of the total points for both legendary and non-legendary Pokemon
pokemon_reg_mean = pokemon_leg.mean()['Total'][0]
pokemon_leg_mean = pokemon_leg.mean()['Total'][1]

# Compute standard deviation of the total points for both legendary and non-legendary Pokemon
pokemon_reg_std = pokemon_leg.std()['Total'][0]
pokemon_leg_std = pokemon_leg.std()['Total'][1]

# Print the results on the screen
print('Mean')
print(f'Non-Legendary: {pokemon_reg_mean:.2f}\nLegendary: {pokemon_leg_mean:.2f}')
print('\nStandard Deviation')
print(f'Non-Legendary: {pokemon_reg_std:.2f}\nLegendary: {pokemon_leg_std:.2f}')

Mean
Non-Legendary: 417.21
Legendary: 637.38

Standard Deviation
Non-Legendary: 106.76
Legendary: 60.94

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:

'''
The ttest_ind function calculates the T-test for the mean of two independent variables.

For this T-test:
Null Hypothesis: The mean of the variable Total IS the same for both Legendary and Non-Legendary pokemon.
Alternative Hypothesis: The mean of the variable Total is NOT the same for both Legendary and Non-Legendary pokemon.
'''

# Variables
pokemon_reg_total = pokemon.query('Legendary == False')['Total']
pokemon_leg_total = pokemon.query('Legendary == True')['Total']

# Calculate the T-test
test_result = scipy.stats.ttest_ind(pokemon_reg_total, pokemon_leg_total, equal_var=False)

# Check the result
test_result

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

print(f'''The p-value is basically equal to zero, which means that there is no possibility that difference between the means of the variable Total of Lengendary and Non-Legendary Pokemon is equal to {pokemon_leg_mean - pokemon_reg_mean:.2f}, considering a significance level of 5% and a hypothesis that they are equal. Therefore, they are indeed not the same.''')

The p-value is basically equal to zero, which means that there is no possibility that difference between the means of the variable Total of Lengendary and Non-Legendary Pokemon is equal to 220.17, considering a significance level of 5% and a hypothesis that they are equal. Therefore, they are indeed not the same.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

# Number of Pokemon by Type 1
pokemon.groupby(by='Type 1').count().reset_index().iloc[:, 0:2]

      Type 1    #
0        Bug   69
1       Dark   31
2     Dragon   32
3   Electric   44
4      Fairy   17
5   Fighting   27
6       Fire   52
7     Flying    4
8      Ghost   32
9      Grass   70
10    Ground   32
11       Ice   24
12    Normal   98
13    Poison   28
14   Psychic   57
15      Rock   44
16     Steel   27
17     Water  112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

# Filter the dataframe
pokemon_water = pokemon[pokemon['Type 1'] == 'Water']
pokemon_nonwater = pokemon[~(pokemon['Type 1'] == 'Water')]

# Calculate the mean
print('Mean')
print(f'Water: {pokemon_water.Total.mean():.2f}\nNon-Water: {pokemon_nonwater.Total.mean():.2f}')
print('\nStandard Deviation')
print(f'Water: {pokemon_water.Total.std():.2f}\nNon-Water: {pokemon_nonwater.Total.std():.2f}')

Mean
Water: 430.46
Non-Water: 435.86

Standard Deviation
Water: 113.19
Non-Water: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:
'''
For this T-test:
Null Hypothesis: The mean of the variable Total IS the same for both Water and Non-Water pokemon.
Alternative Hypothesis: The mean of the variable Total is NOT the same for both Water and Non-Water pokemon.
'''

# Calculate the T-test
test_result = scipy.stats.ttest_ind(pokemon_water['Total'], pokemon_nonwater['Total'], equal_var=True)

# Check the result
test_result

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:
print(f'''The p-value is approximately {test_result[1] * 100:.2f}%, meaning that there is a {test_result[1] * 100:.2f}% chance that the difference between the means of the variable Total of Water and Non-Water Pokemon is equal to {pokemon_water.Total.mean() - pokemon_nonwater.Total.mean():.2f}, considering a a significance level of 5% and a hypothesis that they are equal. This means that we cannot reject the null hypothesis, since the possibility is high. However, we also cannot assume that the null hypothesis is true.''')

The p-value is approximately 65.87%, meaning that there is a 65.87% chance that the difference between the means of the variable Total of Water and Non-Water Pokemon is equal to -5.40, considering a a significance level of 5% and a hypothesis that they are equal. This means that we cannot reject the null hypothesis, since the possibility is high. However, we also cannot assume that the null hypothesis is true.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:

'''
Null hypothesis: The defense and attack scores ARE equal.
Alternative hypothesis: The defense and attack scores are NOT equal.
'''

# Calculate the T-test
test_result = scipy.stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

# Check the result
test_result

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

print(f'''The p-value is basically equal to zero, which means that there is no possibility that difference between the defense and the attack is equal to {pokemon['Defense'].mean() - pokemon['Attack'].mean():.2f}, considering a significance level of 5% and a hypothesis that they are equal. Therefore, they are indeed not the same.''')

The p-value is basically equal to zero, which means that there is no possibility that difference between the defense and the attack is equal to -5.16, considering a significance level of 5% and a hypothesis that they are equal. Therefore, they are indeed not the same.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# Your code here:

'''
Null hypothesis: The special defense and special attack scores ARE equal.
Alternative hypothesis: The special defense and special attack scores are NOT equal.
'''

# Calculate the T-test
test_result = scipy.stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

# Check the result
test_result

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:

print(f'''The p-value is approximately {test_result[1] * 100:.2f}%, meaning that there is a {test_result[1] * 100:.2f}% chance that the difference between the means of the Special Defense and Special Attack is equal to {pokemon_water['Sp. Def'].mean() - pokemon_water['Sp. Atk'].mean():.2f}, considering a a significance level of 5% and a hypothesis that they are equal. This means that we cannot reject the null hypothesis, since the possibility is high. However, we also cannot assume that the null hypothesis is true.''')

The p-value is approximately 39.34%, meaning that there is a 39.34% chance that the difference between the means of the Special Defense and Special Attack is equal to -4.29, considering a a significance level of 5% and a hypothesis that they are equal. This means that we cannot reject the null hypothesis, since the possibility is high. However, we also cannot assume that the null hypothesis is true.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [17]:
# Your code here:
    
'''
Null hypothesis: The defense and attack scores ARE equal.
Alternative hypothesis: The defense and attack scores are NOT equal.
'''

# Calculate the T-test
test_result = scipy.stats.ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)

# Check the result
test_result

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [18]:
print('The result using the one sample test was the same as using two samples with the p-value equal to zero. Therefore, we can reject the null hypothesis and affirm that the mean between the attack and defense is indeed different from zero.')

The result using the one sample test was the same as using two samples with the p-value equal to zero. Therefore, we can reject the null hypothesis and affirm that the mean between the attack and defense is indeed different from zero.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

pokemon.groupby(by='Type 1').count()

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: