![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

<body>
    <p style="font-size:28px;text-align:center"><b>Project 02 | Data Cleaning & Manipulation</b></p>
</body>

# Introduction

The objective of this projects was to answer a problem statement, practicing data cleaning and manipulation.

---

<body>
    <p style="font-size:20px"><b>Problem Statement</b></p>
</body>

_What are the most common characteristics of people involved in shark incidents in the history?_

---

To answer this problem, the following characteristics will be analyzed:
- Gender
- Age
- Activity

# Setup

## Import

In [1]:
import pandas as pd
import numpy as np
import re

## Load the dataset

In [2]:
# Load the dataset from a Excel file into a Pandas DataFrame
df = pd.read_excel('GSAF5.xls')

In [3]:
# Check information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25792 entries, 0 to 25791
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8771 non-null   object
 1   Date                    6558 non-null   object
 2   Year                    6556 non-null   float64
 3   Type                    6552 non-null   object
 4   Country                 6508 non-null   object
 5   Area                    6091 non-null   object
 6   Location                6008 non-null   object
 7   Activity                6002 non-null   object
 8   Name                    6343 non-null   object
 9   Sex                     5987 non-null   object
 10  Age                     3660 non-null   object
 11  Injury                  6528 non-null   object
 12  Fatal (Y/N)             6006 non-null   object
 13  Time                    3139 non-null   object
 14  Species                 3610 non-null   object
 15  Investigator or Source  6541 non-null   object
 16  pdf                     6557 non-null   object
 17  href formula            6554 non-null   object
 18  href                    6556 non-null   object
 19  Case Number.1           6557 non-null   object
 20  Case Number.2           6557 non-null   object
 21  original order          6564 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

### Conclusions about the dataset for cleaning purposes
1. Seeing the information about the dataset, it is clear that there are a lot of rows that only contains missing values `NaN`.
2. The columns 'Unnamed: 22' and 'Unnamed: 23' probably do not have any information since they have 1 and 2 non-null values, respectively.

## Create a backup version of the raw dataset

In [4]:
# Create a backup version
df_bkp = df.copy()

# General Data Cleaning

## Headers

In [5]:
# Remove unnecessary spaces, put everything in lower case and replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [6]:
# Rename the column 'fatal_(y/n)' to make it simpler
df = df.rename(columns={'fatal_(y/n)': 'fatal'})
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

## Columns that are not relevant to the analysis

As mentioned above, the columns `unnamed:_22` and `unnamed:_23` probably do not have any relevant information, so they can be removed.

In [7]:
# Remove the columns 'unnamed:_22' and 'unnamed:_23'
df = df.drop(columns=['unnamed:_22', 'unnamed:_23'])

# Check the result
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order
0,2020.08.20,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,Carolina Jones,F,...,N,11h00,NaN,"K. McMurray, TrackingSharks.com",2020.08.20-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.08.20,2020.08.20,6559.0
1,2020.08.14,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,Chantelle Doyle,F,...,N,09h30,"White shark, 2-to 3m","B. Myatt, GSAF",2020.08.14-ShellyBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.08.14,2020.08.14,6558.0
2,2020.08.10,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,male,M,...,N,16h00,"Blacktip shark, 6'","K. McMurray, TrackingSharks.com",2020.08.10-Provoked.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.08.10,2020.08.10,6557.0
3,2020.08.02,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,Melony Klein,F,...,N,14h00,"Nurse shark, 5'","K. McMurray, TrackingSharks.com",2020.08.02-Klein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.08.02,2020.08.02,6556.0
4,2020.07.31.c,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Megan Tossi,F,...,N,17h00,NaN,"K. McMurray, TrackingSharks.com",2020.07.31.c-Tossi..pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.07.31.c,2020.07.31.c,6555.0

Checking the table above, it is clear that the columns `investigator_or_source`, `pdf`, `href_formula` and `href` will not be relevant to the analysis since they are just information about the source of each incident. Therefore, these columns can be removed.

In [8]:
# Remove the columns 'nvestigator_or_source', 'pdf', 'href_formula' and 'href'
df = df.drop(columns=['investigator_or_source', 'pdf', 'href_formula', 'href'])

# Check the result
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,case_number.1,case_number.2,original_order
0,2020.08.20,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,Carolina Jones,F,50,Minor lacerations to left leg,N,11h00,NaN,2020.08.20,2020.08.20,6559.0
1,2020.08.14,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,Chantelle Doyle,F,35,Lacerations to right calf and posterior thigh,N,09h30,"White shark, 2-to 3m",2020.08.14,2020.08.14,6558.0
2,2020.08.10,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,male,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'",2020.08.10,2020.08.10,6557.0
3,2020.08.02,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,Melony Klein,F,NaN,Lacerations to hand and wrist,N,14h00,"Nurse shark, 5'",2020.08.02,2020.08.02,6556.0
4,2020.07.31.c,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Megan Tossi,F,22,Lacerations to foot,N,17h00,NaN,2020.07.31.c,2020.07.31.c,6555.0

The content of columns `case_number`, `case_number.1`, `case_number.2` and `original_order` is just a way to reference each case and is not relevant to the analysis. So, they will also be removed.

In [9]:
# Remove the columns 'case_number', 'case_number.1', 'case_number.2' and 'original_order'
df = df.drop(columns=['case_number', 'case_number.1', 'case_number.2', 'original_order'])

# Check the result
df.head()

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species
0,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,Carolina Jones,F,50,Minor lacerations to left leg,N,11h00,NaN
1,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,Chantelle Doyle,F,35,Lacerations to right calf and posterior thigh,N,09h30,"White shark, 2-to 3m"
2,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,male,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'"
3,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,Melony Klein,F,NaN,Lacerations to hand and wrist,N,14h00,"Nurse shark, 5'"
4,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Megan Tossi,F,22,Lacerations to foot,N,17h00,NaN

After removing the unnecessary columns, the information about the new dataframe is shown below.

The column `name` is also irrelevant, since there will not be a specific analysis of each individual. So, this column can be removed.

In [10]:
# Remove column 'name'
df = df.drop(columns='name')

# Check the result
df.head()

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
0,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,F,50,Minor lacerations to left leg,N,11h00,NaN
1,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,F,35,Lacerations to right calf and posterior thigh,N,09h30,"White shark, 2-to 3m"
2,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'"
3,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,F,NaN,Lacerations to hand and wrist,N,14h00,"Nurse shark, 5'"
4,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,F,22,Lacerations to foot,N,17h00,NaN

In [11]:
# Check information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25792 entries, 0 to 25791
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6558 non-null   object
 1   year      6556 non-null   float64
 2   type      6552 non-null   object
 3   country   6508 non-null   object
 4   area      6091 non-null   object
 5   location  6008 non-null   object
 6   activity  6002 non-null   object
 7   sex       5987 non-null   object
 8   age       3660 non-null   object
 9   injury    6528 non-null   object
 10  fatal     6006 non-null   object
 11  time      3139 non-null   object
 12  species   3610 non-null   object
dtypes: float64(1), object(12)
memory usage: 2.6+ MB

## Rows

### Rows containing only missing values

There is total of 25792 lines, but all columns do not have even 9,000 rows with `non-NaN`. So,as mentioned before, there are a lot of rows that only contains missing values `NaN` and they can be removed.

In [12]:
# Remove all rows that contains only NaN
df = df.dropna(how='all')

# Check the result
print(f'Number of rows after removing the rows containing only missing values: {df.shape[0]}\n')

# Check information about the dataframe
df.info()

Number of rows after removing the rows containing only missing values: 6558

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6558 entries, 0 to 6557
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6558 non-null   object
 1   year      6556 non-null   float64
 2   type      6552 non-null   object
 3   country   6508 non-null   object
 4   area      6091 non-null   object
 5   location  6008 non-null   object
 6   activity  6002 non-null   object
 7   sex       5987 non-null   object
 8   age       3660 non-null   object
 9   injury    6528 non-null   object
 10  fatal     6006 non-null   object
 11  time      3139 non-null   object
 12  species   3610 non-null   object
dtypes: float64(1), object(12)
memory usage: 717.3+ KB

### Duplicate rows

In [13]:
# Check if there are duplicate rows
df.duplicated().sum()

7

In [14]:
# Check duplicated rows
df[df.duplicated(keep=False)]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
3577,Reported 26-Jun-1972,1972.0,Unprovoked,AUSTRALIA,Queensland,Pancake Creek,NaN,M,NaN,FATAL,Y,NaN,NaN
3578,Reported 26-Jun-1972,1972.0,Unprovoked,AUSTRALIA,Queensland,Pancake Creek,NaN,M,NaN,FATAL,Y,NaN,NaN
3622,1971,1971.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,M,NaN,Survived,N,NaN,NaN
3623,1971,1971.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,M,NaN,Survived,N,NaN,NaN
4490,Aug-1956,1956.0,Provoked,UNITED KINGDOM,Cornwall,The Lizard,Attempting to kill a shark with explosives,M,NaN,"FATAL, PROVOKED INCIDENT",Y,NaN,NaN
4491,Aug-1956,1956.0,Provoked,UNITED KINGDOM,Cornwall,The Lizard,Attempting to kill a shark with explosives,M,NaN,"FATAL, PROVOKED INCIDENT",Y,NaN,NaN
4940,Fall 1943,1943.0,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,M,NaN,Calf nipped in each case,N,NaN,"""small sharks"""
4941,Fall 1943,1943.0,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,M,NaN,Calf nipped in each case,N,NaN,"""small sharks"""
5719,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,Swimming,M,NaN,FATAL,Y,NaN,NaN
5721,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,Swimming,M,NaN,FATAL,Y,NaN,NaN
5962,1890,1890.0,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,M,NaN,No details,UNKNOWN,NaN,NaN
5963,1890,1890.0,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,M,NaN,No details,UNKNOWN,NaN,NaN
6215,1863,1863.0,Unprovoked,CEYLON,NaN,NaN,Fell overboard,M,NaN,FATAL,Y,NaN,NaN
6216,1863,1863.0,Unprovoked,CEYLON,NaN,NaN,Fell overboard,M,NaN,FATAL,Y,NaN,NaN

As shown above, there are some rows that are duplicated. Therefore, they can be removed.

In [15]:
# Remove duplicated rows
df = df.drop_duplicates(keep='first')

# Check the result
df.duplicated().sum()

0

In [16]:
# Check the new number of rows
n_rows = df.shape[0]
print(f'After removing the duplicates, the dataframe has {n_rows} rows.')

After removing the duplicates, the dataframe has 6551 rows.

# Specific Data Cleaning & Manipulation - Columns

## Gender

The gender is represented by the column `sex`.

In [17]:
# Check the unique values in the column
print(df.sex.unique())

['F' 'M' nan 'M ' 'lli' 'M x 2' 'N' '.']

In [18]:
# Check the number of each value
df.sex.value_counts(dropna=False)

M        5280
F         693
NaN       571
M           2
N           2
.           1
M x 2       1
lli         1
Name: sex, dtype: int64

In [19]:
# Remove unnecessary spaces in the values
df.sex = df.sex.str.strip()

# Check the result
df.sex.value_counts(dropna=False)

M        5282
F         693
NaN       571
N           2
.           1
M x 2       1
lli         1
Name: sex, dtype: int64

In [20]:
# Check the rows with values that are not 'M', nor 'F', nor NaN
print(f'They represent only {(len(df[(df.sex != "M") & (df.sex != "F") & (df.sex == df.sex)].index) / n_rows) * 100:.2f}',
      f'% of the dataset.', sep='')
df[(df.sex != 'M') & (df.sex != 'F') & (df.sex == df.sex)]

They represent only 0.08% of the dataset.

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
1867,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark
3205,23-Oct-1962,1982.0,Sea Disaster,USA,Carolina coast,NaN,Yacht Trashman capsized in storm,M x 2,NaN,FATAL,Y x 2,NaN,NaN
5191,11-Jul-1934,1934.0,Watercraft,AUSTRALIA,New South Wales,Cronulla,Fishing,N,NaN,No injury to occupants Sharks continually foll...,N,NaN,"Blue pointer, 11'"
5690,Reported 02-Jun-1908,1908.0,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,NaN,Allegedly a 33-foot shark
6386,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,N,NaN,"FATAL, PROVOKED INCIDENT",Y,NaN,12' shark

Given the low percentage, they will not be considered in the analysis, in other other, they will be removed.

In [21]:
print(f'Before the removal, there was {n_rows} rows.', end=' ')

# Remove the rows mentioned above
df = df.drop(df[(df.sex != 'M') & (df.sex != 'F') & (df.sex == df.sex)].index)

# Number of rows
n_rows = df.shape[0]
print(f'After the removal, there is {n_rows} rows.')

Before the removal, there was 6551 rows. After the removal, there is 6546 rows.

In [22]:
# Check rows with missing values in the 'sex' column
df[df.sex.isna()]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
8,29-Jul-2020,2020.0,Watercraft,AUSTRALIA,Tasmania,Tenth Island,Sightseeing,NaN,NaN,"No injury to occupants, injury to shark attemp...",NaN,09h08,"White shark, 4m"
22,20-Jun-2020,2020.0,Unprovoked,BAHAMAS,Exumas,"Pig Beach, Pig Island",NaN,NaN,NaN,NaN,N,NaN,NaN
32,17 May 2020,2020.0,Unprovoked,FRENCH POLYNESIA,Tahiti,VallÃ©e Blanche,Snorkeling,NaN,NaN,Leg bitten,N,NaN,Blacktip shark
48,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,"No injury, but paddleboard bitten",N,09h40,Tiger shark
65,20-Dec-2019,2019.0,Provoked,AUSTRALIA,New South Wales,Shellharbour,Fishing,NaN,NaN,PROVOKED INCIDENT,NaN,NaN,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6468,Before 2004,0.0,Watercraft,MOZAMBIQUE,Inhambane Province,Off Inhambane,Fishing,NaN,NaN,"No injury to occupants, shark bumped boat",N,NaN,Whale shark
6493,"No date, Before 1963",0.0,Unprovoked,SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,Recovered,N,NaN,NaN
6515,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,1.2 m [4'] shark
6534,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,FATAL,Y,NaN,NaN
6543,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN

In [23]:
# Check % of missing values
df.sex.isna().mean()*100

8.722884204094102

For now, they will be remain in the dataframe, but they may be removed later.

## Age

### Data Cleaning

In [24]:
# Check the unique values in the column
print(f'There are {len(list(df.age.unique()))} unique values in this column.\n')
print(df.age.unique())

There are 237 unique values in this column.

[50 35 55 nan 22 14 28 38 4 63 23 11 12 10 29 15 36 7 16 30 60 18 9 26 57
 'Teen' 24 59 13 75 21 '30s' 45 33 17 37 70 44 '28 & 22' 32 20 51
 '22, 57, 31' '60s' 40 49 "20's" 43 8 64 19 65 67 53 34 25 58 74 46 41 31
 '9 & 60' 48 '20s' 42 39 56 61 'a minor' 6 62 52 54 69 '40s' 3 82 73 68 47
 66 72 27 71 '38' '39' '23' '32' '52' '68' '12' '18' '19' '43' '47' '6'
 '37' '9' '36' '10' '16' '13' '11' '17' '14' '30' '50' '29' '65' '63' '26'
 '71' '48' '70' '58' '18 months' '22' '41' '35' '57' '20' '24' '34' '15'
 '44' '53' '7' '40' '28' '33' '31' '45' '50s' '8' '51' '61' '42' '25'
 'teen' '66' '21' '77' '46' '60' '74' '55' '27' '3' '56' '64' '28 & 26'
 '62' '5' '49' '54' '86' '59' '18 or 20' '12 or 13' '46 & 34'
 '28, 23 & 30' 'Teens' 77 '36 & 26' '8 or 10' 84 '\xa0 ' ' ' '30 or 36'
 '6Â½' '21 & ?' '33 or 37' 'mid-30s' '23 & 20' 5 ' 30' '7      &    31'
 ' 28' '20?' "60's" '69' '32 & 30' '16 to 18' '87' '67' 'Elderly'
 'mid-20s' 'Ca. 33' '74 ' '45 ' '21 or 26' '20 ' '>50' '18 to 22' 'adult'
 '9 & 12' '? & 19' '9 months' '25 to 35' '23 & 26' 1 '(adult)' '33 & 37'
 '25 or 28' '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32' '50 & 30'
 '17 & 35' 'X' '"middle-age"' '13 or 18' '34 & 19' '33 & 26'
 '2 to 3 months' '4' 'MAKE LINE GREEN' ' 43' '81' '"young"' '7 or 8' 78
 '17 & 16' 'F' 'Both 11' '9 or 10' 'young' '36 & 23' '  ' '78' 'A.M.'
 '?    &   14' '10 or 12' '31 or 33' '2Â½' '1' '13 or 14']

In [25]:
# Check the number of each value
df.age.value_counts(dropna=False)

NaN              2887
16                 86
19                 86
17                 82
18                 82
                 ...
72                  1
Elderly             1
74                  1
87                  1
2 to 3 months       1
Name: age, Length: 237, dtype: int64

In [26]:
# Convert all values in this columnn to string if it is not a missing value
df.age = df.age.apply(lambda x : str(x) if x == x else x)

# Check result
df.age.unique()

array(['50', '35', '55', nan, '22', '14', '28', '38', '4', '63', '23',
       '11', '12', '10', '29', '15', '36', '7', '16', '30', '60', '18',
       '9', '26', '57', 'Teen', '24', '59', '13', '75', '21', '30s', '45',
       '33', '17', '37', '70', '44', '28 & 22', '32', '20', '51',
       '22, 57, 31', '60s', '40', '49', "20's", '43', '8', '64', '19',
       '65', '67', '53', '34', '25', '58', '74', '46', '41', '31',
       '9 & 60', '48', '20s', '42', '39', '56', '61', 'a minor', '6',
       '62', '52', '54', '69', '40s', '3', '82', '73', '68', '47', '66',
       '72', '27', '71', '18 months', '50s', 'teen', '77', '28 & 26', '5',
       '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teens',
       '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6Â½',
       '21 & ?', '33 or 37', 'mid-30s', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', "60's", '32 & 30', '16 to 18',
       '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26',
       '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19', '9 months',
       '25 to 35', '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2Â½', '13 or 14'], dtype=object)

Converting all the values to the same data type make it easier to manipulate them.

In [27]:
len(df.age.unique())

164

In [28]:
# Check rows that contains '&'
df[df.age.str.contains('&', na=False)]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
80,29-Oct-2019,2019.0,Unprovoked,AUSTRALIA,Queensland,"Off Airlie Beach, Whitsundays",Snorkeling,M,28 & 22,Raddonâ€™s right foot was severed and Maggs sust...,N,10h20,Tiger shark
168,10-Jan-2019,2019.0,Invalid,AUSTRALIA,Queensland,"Catseye Beach, Hamilton Island, Whitsundays",Wading,F,9 & 60,Injuries to foot & leg,N,09h30,Reported as shark attacks but injuries caused ...
940,10-Mar-2013,2013.0,Unprovoked,PHILIPPINES,Palawan,Off Likas Island,Swimming to shore with floatioon devices after...,M,28 & 26,Minor leg injuries,N,NaN,"""small sharks"""
1749,Reported 28-Jan-2006,2006.0,Watercraft,ATLANTIC OCEAN,300 miles from Antigua,NaN,Competing in the Woodvale Atlantic Rowing Race,M,46 & 34,No injury to occupants; shark rammed boat repe...,N,NaN,12' shark
1751,23-Jan-2006,2006.0,Watercraft,ATLANTIC OCEAN,800 miles from land,NaN,Competing in the Woodvale Atlantic Rowing Race,F,"28, 23 & 30","No injury to occupants; a shark, accidentally ...",N,NaN,NaN
1986,14-Sep-2003,2003.0,Watercraft,SOUTH AFRICA,Western Cape Province,Melkbosstrand,Fishing,NaN,36 & 26,"No injury to occupants, shark bit boat",N,09h40,2 m cow shark
2168,12-Aug-2001,2001.0,Unprovoked,THAILAND,Rayong Province,Laem Mae Pim Beach,Fell off banana boat,M,21 & ?,Legs bitten,N,NaN,3 m [10'] shark
2269,10-Aug-2000,2000.0,Invalid,USA,Florida,Florida Keys,Attempting to illegally enter the USA,M,23 & 20,Shark involvement probably post-mortem,NaN,NaN,Shark involvement prior to death was not confi...
2665,Reported 11-Sep-1994,1994.0,Sea Disaster,USA,Florida,Florida Straits,Adrift on refugee raft,M,7 & 31,FATAL,Y,NaN,NaN
2754,04-Jan-1993,1993.0,Watercraft,CARIBBEAN SEA,NaN,Off Dominican Republic,,M,32 & 30,"No injury to occupants. Sharks, attracted to o...",N,NaN,Two 3 m [10'] oceanic whitetip sharks
3709,24-Aug-1968,1968.0,Unprovoked,USA,Florida,Half mile north of Juno Beach Pier,Playing with a frisbee in the shallows,NaN,9 & 12,"Shark bumped Colleen, the nudged Scott, then b...",N,16h00,a small hammerhead shark
3767,10-Aug-1967,1967.0,Invalid,AUSTRALIA,New South Wales,Jervis Bay,Anti-sabotage night dive exercise alongside de...,M,? & 19,"Disappeared, no trace of men or equipment, sha...",NaN,Night,Shark involvement prior to death was not confi...
3992,Aug-1963,1963.0,Unprovoked,DOMINICAN REPUBLIC,Santo Domingo,Rio Haina Port,"Swimming, when caught in heavy seas",M,23 & 26,"FATAL. Eyewitness said, ""One was thrown in the...",Y,NaN,8 sharks
4130,Reported 06-Sep-1961,1961.0,Provoked,ITALY,Venice Province,Chioggia,Fishing,M,33 & 37,Left foot & right hand bitten by netted shark ...,N,NaN,1 m shark
4236,07-Jun-1960,1960.0,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",Testing classified underwater electronic gear ...,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",NaN,NaN,Shark involvement prior to death was not confi...
4248,14-Apr-1960,1960.0,Invalid,BERMUDA,"33N, 68W",Royal Canadian Navy CS2F-1 aircraft ditched in...,Floating on a raft,M,"21, 34,24 & 35","No injury, 5 sharks bumped raft",NaN,09h00 - 09h30,Questionable incident
4259,29-Feb-1960,1960.0,Unprovoked,AUSTRALIA,Tasmania,Ralph Bay,"Wading, fishing for flounder",M,30 & 32,"No injury, Robertson knocked over & Hasler bru...",N,Night,Two 2.1 m [7'] sharks
4285,28-Dec-1959,1959.0,Watercraft,AUSTRALIA,New South Wales,"Leichardt, Sydney",Fishing,NaN,50 & 30,No injury to occupants,N,Late night,2.4 m [8'] shark
4289,11-Dec-1959,1959.0,Provoked,AUSTRALIA,Victoria,"Altona, Melbourne","Spearfishing, Smith & Walker touched shark wi...",M,17 & 35,"Smith hit by tail of shark, Walker sustained c...",N,NaN,2.7 m [9'] shark
4328,21764,1959.0,Invalid,ITALY,Tuscany,"Cala del Corvo, Isola del Giglio",Scuba diving,M,34 & 19,Probable drowing. Shark involvement unconfirmed,NaN,NaN,Shark involvement prior to death was not confi...
4368,02-Jan-1959,1959.0,Unprovoked,MOZAMBIQUE,Maputo Province,Off Inhaca Island,Swimming ashore from fishing boat swamped and ...,M,33 & 26,"Suttie's lower abdomen was bitten, Murray disa...",Y,08h00,NaN
4840,14-Jan-1947,1947.0,Watercraft,AUSTRALIA,New South Wales,"Berry's Bay, Sydney Harbour",Rowing,NaN,17 & 16,"No injury, shark lifted the boat 0.5 m out of ...",N,NaN,"4.5 m [14'9""] shark"
5252,06-Jan-1932,1932.0,Provoked,MEXICO,Baja California,Descano Point,Fishing,M,36 & 23,Hooked shark capsized rowboat & the 2 men were...,Y,NaN,NaN
5434,04-Jul-1924,1924.0,Watercraft,USA,California,"Newport Beach, Orange County",Fishing,M,? & 14,"No injury, shark tore hole in the side of the ...",N,NaN,NaN

In [29]:
# Number of rows that contain "&"
r_clean = len(df[df.age.str.contains("&", na=False)])
print(f'There are {r_clean} rows containing "&" and they represent only {(r_clean / n_rows) * 100:.2f}% of the', end=' '
      f'dataset.\nSince they have ages of more than one person, they will be removed from the dataframe', sep=' ')

There are 24 rows containing "&" and they represent only 0.37% of the dataset.
Since they have ages of more than one person, they will be removed from the dataframe

In [30]:
print(f'Before the removal, there was {n_rows} rows.', end=' ')

# Remove the rows mentioned above
df = df.drop(df[df.age.str.contains('&', na=False)].index)

# Number of rows
n_rows = df.shape[0]
print(f'After the removal, there is {n_rows} rows.')

Before the removal, there was 6546 rows. After the removal, there is 6522 rows.

In [31]:
# Check the unique values
print(f'Now, there are {len(list(df.age.unique()))} unique values in this column.\n')
print(df.age.unique())

Now, there are 140 unique values in this column.

['50' '35' '55' nan '22' '14' '28' '38' '4' '63' '23' '11' '12' '10' '29'
 '15' '36' '7' '16' '30' '60' '18' '9' '26' '57' 'Teen' '24' '59' '13'
 '75' '21' '30s' '45' '33' '17' '37' '70' '44' '32' '20' '51' '22, 57, 31'
 '60s' '40' '49' "20's" '43' '8' '64' '19' '65' '67' '53' '34' '25' '58'
 '74' '46' '41' '31' '48' '20s' '42' '39' '56' '61' 'a minor' '6' '62'
 '52' '54' '69' '40s' '3' '82' '73' '68' '47' '66' '72' '27' '71'
 '18 months' '50s' 'teen' '77' '5' '86' '18 or 20' '12 or 13' 'Teens'
 '8 or 10' '84' '\xa0 ' ' ' '30 or 36' '6Â½' '33 or 37' 'mid-30s' ' 30'
 ' 28' '20?' "60's" '16 to 18' '87' 'Elderly' 'mid-20s' 'Ca. 33' '74 '
 '45 ' '21 or 26' '20 ' '>50' '18 to 22' 'adult' '9 months' '25 to 35' '1'
 '(adult)' '25 or 28' 'X' '"middle-age"' '13 or 18' '2 to 3 months'
 'MAKE LINE GREEN' ' 43' '81' '"young"' '7 or 8' '78' 'F' 'Both 11'
 '9 or 10' 'young' '  ' 'A.M.' '10 or 12' '31 or 33' '2Â½' '13 or 14']

In [32]:
# Check rows that the age values does not make sense or can not be categorized
df[df.age.apply(lambda x : True if x in ['\xa0 ', 'X', ' ', '20?', '>50', '13 or 18', 'MAKE LINE GREEN', 'Ca. 33',
                                         '"young"', 'F', 'Both 11', 'young', '  ', 'A.M.'] else False)]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species
2067,27-Sep-2002,2002.0,Provoked,USA,Florida,"Key Largo, Monroe County",Fishing,M,,Left thumb lacerated PROVOKED INCIDENT,N,Afternoon,1.8 m [6'] blacktip shark
2068,27-Sep-2002,2002.0,Provoked,TONGA,Vava'u,Swimming with humpback whales,Swimming,M,,Thigh lacerated PROVOKED INCIDENT,N,15h00,"Tiger shark, 1.5 m [5']k"
2684,06-Apr-1994,1994.0,Unprovoked,BAHAMAS,NaN,Rum Cay,Wading,M,20?,Lower right leg bitten,N,10h30,2' to 3' shark
3229,May 1982,1982.0,Invalid,USA,South Carolina,"Daws Island, Broad River (near Beaufort)",NaN,F,Ca. 33,Human remains recovered from tiger shark,NaN,NaN,Shark involvement prior to death was not confi...
3355,29-Dec-1978,1978.0,Unprovoked,AUSTRALIA,Queensland,Bribie Island,NaN,M,,Survived,N,NaN,NaN
3612,11-Apr-1971,1971.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Buffels Bay,Swimming,M,>50,"FATAL, multiple bites",Y,11h30,White shark according to tooth pattern and wit...
4302,07-Oct-1959,1959.0,Unprovoked,MOZAMBIQUE,Maputo Province,"Xefina Island, Bay of Maputo",Swimming,M,X,"FATAL, died in Lourenco Marques Hospital",Y,NaN,NaN
4325,11-Aug-1959,1959.0,Unprovoked,JAPAN,Wakayama Prefecture,"Isonoura Beach, Wakayama City",Swimming,M,13 or 18,"FATAL, left thigh bitten",Y,14h30,"Blue shark, 3 m [10']"
4643,08-Jan-1953,1953.0,Watercraft,AUSTRALIA,Tasmania,Wynyard,Fishing,NaN,MAKE LINE GREEN,"No injury to occupant, shark charged boat",N,Afternoon,10' to 12' shark
4700,24-Mar-1951,1951.0,Unprovoked,AUSTRALIA,New South Wales,Sydney,"Fishing, casting in the surf",M,"""young""",Severe lacerations of chest & thigh,N,NaN,5.5 m [18'] shark
4929,14-May-1943,1943.0,Sea Disaster,AUSTRALIA,Queensland,Off Brisbane,Hospital Ship Centaur torpedoed & sunk by the ...,M,F,FATAL,Y,After 04h00,NaN
5054,12-Jan-1939,1939.0,Unprovoked,AUSTRALIA,New South Wales,Clarence River,Scooping prawns,M,Both 11,No injury,N,NaN,7' shark
5139,23-Feb-1936,1936.0,Provoked,AUSTRALIA,New South Wales,"Angourie, near Yamba",Touching the mouth of a supposedly dead shark,F,young,Finger bitten PROVOKED INCIDENT,N,NaN,NaN
5337,27-Jan-1929,1929.0,Unprovoked,AUSTRALIA,Queensland,"Alma Bay, Magnetic Island, Townsville",Swimming,M,,"FATAL, right buttock lacerated, left arm sever...",Y,17h30,NaN
5423,10-Mar-1925,1925.0,Unprovoked,PAPUA NEW GUINEA,Central Province,Hula,Swimming,M,A.M.,FATAL,Y,NaN,NaN
6398,1779,1779.0,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,M,young,"FATAL, buttock lacerated",Y,NaN,NaN

In [33]:
# Number of rows that contain "&"
r_clean = len(df[df.age.apply(lambda x : True if x in ['\xa0 ', 'X', ' ', '20?', '>50', '13 or 18', 'MAKE LINE GREEN',
                                                       'Ca. 33', '"young"', 'F', 'Both 11', 'young', '  ', 'A.M.'] 
                              else False)].index)
print(f'There are {r_clean} rows containing "&" and they represent only {(r_clean / n_rows) * 100:.2f}% of the', end=' '
      f'dataset.\nSince they can not be categorized, they will be removed from the dataframe', sep=' ')

There are 16 rows containing "&" and they represent only 0.25% of the dataset.
Since they can not be categorized, they will be removed from the dataframe

In [34]:
print(f'Before the removal, there was {n_rows} rows.', end=' ')

# Remove the rows mentioned above
df = df.drop(df[df.age.apply(lambda x : True if x in ['\xa0 ', 'X', ' ', '20?', '>50', '13 or 18', 'MAKE LINE GREEN', 
                                                      'Ca. 33', '"young"', 'F', 'Both 11', 'young', '  ', 'A.M.', '30s',
                                                     'a minor'] 
                             else False)].index)

# Number of rows
n_rows = df.shape[0]
print(f'After the removal, there is {n_rows} rows.')

Before the removal, there was 6522 rows. After the removal, there is 6497 rows.

In [35]:
# Check the unique values
print(f'Now, there are {len(list(df.age.unique()))} unique values in this column.\n')
print(df.age.unique())

Now, there are 124 unique values in this column.

['50' '35' '55' nan '22' '14' '28' '38' '4' '63' '23' '11' '12' '10' '29'
 '15' '36' '7' '16' '30' '60' '18' '9' '26' '57' 'Teen' '24' '59' '13'
 '75' '21' '45' '33' '17' '37' '70' '44' '32' '20' '51' '22, 57, 31' '60s'
 '40' '49' "20's" '43' '8' '64' '19' '65' '67' '53' '34' '25' '58' '74'
 '46' '41' '31' '48' '20s' '42' '39' '56' '61' '6' '62' '52' '54' '69'
 '40s' '3' '82' '73' '68' '47' '66' '72' '27' '71' '18 months' '50s'
 'teen' '77' '5' '86' '18 or 20' '12 or 13' 'Teens' '8 or 10' '84'
 '30 or 36' '6Â½' '33 or 37' 'mid-30s' ' 30' ' 28' "60's" '16 to 18' '87'
 'Elderly' 'mid-20s' '74 ' '45 ' '21 or 26' '20 ' '18 to 22' 'adult'
 '9 months' '25 to 35' '1' '(adult)' '25 or 28' '"middle-age"'
 '2 to 3 months' ' 43' '81' '7 or 8' '78' '9 or 10' '10 or 12' '31 or 33'
 '2Â½' '13 or 14']

In [36]:
# Check % of missing values
df.age.isna().mean()*100

44.43589348930275

The percentage of missing values is too high and, if they are removed, it would greatly impact the dataset. So, for now, they will remain in the dataframe and they will be analyzed again later.

### Categorizing the age

The column age will be categorized into:

<table>
    <thead>
        <tr>
            <th>AGE</th>
            <th>CATEGORY</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>< 11</td>
            <td>Child</td>
        </tr>
        <tr>
            <td>12 - 17</td>
            <td>Teenager</td>
        </tr>
        <tr>
            <td>18 - 35</td>
            <td>Young Adult</td>
        </tr>
        <tr>
            <td>36 - 65</td>
            <td>Adult</td>
        </tr>
        <tr>
            <td>> 65</td>
            <td>Elder</td>
        </tr>
        <tr>
            <td>NaN</td>
            <td>No category</td>
        </tr>
    </tbody>
</table>

In [37]:
# Create a function to categorize the ages
def cat_ages(age: str):
    '''
    Categorizes an age.
    
    Args:
    -----
        age (str): a string containing an age
    
    Returns:
    --------
        category (str): a string containing the category
    '''
    
    # Local variable that will store the category
    category = ''
    
    # If the age is a digit
    try:
        age = int(age)
        if age > 65:
            category = 'Elder'
        elif age > 35:
            category = 'Adult'
        elif age > 17:
            category = 'Young Adult'
        elif age > 11:
            category = 'Teenager'
        else:
            category = 'Child'
        
        return category
    
    # If the age is a missing value or not a digit
    except:
        if age != age:
            category = 'No category'
        elif age in ['18 months', '8 or 10', '6Â½', '9 months', '2 to 3 months', '7 or 8', '9 or 10', '10 or 12', '2Â½']:
            category = 'Child'
        elif age in ['Teen', 'teen', '12 or 13', 'Teens', '16 to 18', '13 or 14']:
            category = 'Teenager'
        elif age in ["20's", '20s', '18 or 20', 'mid-20s', '30 or 36', '21 or 26', '18 to 22', '25 to 35', '25 or 28',
                     '31 or 33']:
            category = 'Young Adult'
        elif age in ['40s', '50s', 'mid-30s', '33 or 37', 'adult', '(adult)', '"middle-age"']:
            category = 'Adult'
        elif age in ['60s', "60's", 'Elderly']:
            category = 'Elder'
        
        return category

In [38]:
# Categorize the ages
df['cat_age'] = df.age.apply(cat_ages)

# Check the result
df.cat_age.value_counts(dropna=False)

No category    2887
Young Adult    1723
Adult           840
Teenager        751
Child           235
Elder            60
                  1
Name: cat_age, dtype: int64

In [39]:
# Check number of rows
df.cat_age.value_counts(dropna=False).sum() == n_rows

True

In [40]:
# Check information abou the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 6557
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6497 non-null   object
 1   year      6495 non-null   float64
 2   type      6491 non-null   object
 3   country   6448 non-null   object
 4   area      6034 non-null   object
 5   location  5953 non-null   object
 6   activity  5945 non-null   object
 7   sex       5931 non-null   object
 8   age       3610 non-null   object
 9   injury    6467 non-null   object
 10  fatal     5951 non-null   object
 11  time      3115 non-null   object
 12  species   3571 non-null   object
 13  cat_age   6497 non-null   object
dtypes: float64(1), object(13)
memory usage: 761.4+ KB

In [41]:
# Check the dataset
df.head()

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species,cat_age
0,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,F,50,Minor lacerations to left leg,N,11h00,NaN,Adult
1,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,F,35,Lacerations to right calf and posterior thigh,N,09h30,"White shark, 2-to 3m",Young Adult
2,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'",Adult
3,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,F,NaN,Lacerations to hand and wrist,N,14h00,"Nurse shark, 5'",No category
4,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,F,22,Lacerations to foot,N,17h00,NaN,Young Adult

## Activity

In [42]:
# Check the unique values in the column
print(f'There are {len(list(df.activity.unique()))} unique values in this column.\n')
df.activity.unique()

There are 1531 unique values in this column.

array(['Boogie boarding', 'Surfing', 'Fishing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [45]:
df.activity.unique()

array(['Boogie boarding', 'Surfing', 'Fishing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [45]:
# Check the number of each value
df.activity.value_counts(dropna=False)

Surfing                                                        1034
Swimming                                                        888
NaN                                                             552
Fishing                                                         454
Spearfishing                                                    354
                                                               ...
Hunting crayfish                                                  1
Swimming, after single-engine aircraft went down in the sea       1
Paddling on surfboard or body board                               1
Boat capsized, clinging to line                                   1
Free diving for abalone (submerged)                               1
Name: activity, Length: 1531, dtype: int64

In [48]:
# Remove unnecessary spaces in the values
df.activity = df.activity.str.strip()

# Check the result
df.activity.value_counts(dropna=False)

Surfing                                   1039
Swimming                                   935
NaN                                        552
Fishing                                    469
Spearfishing                               362
                                          ...
Diving alongsidethe steamship Ranelagh       1
Boat capsized, clinging to line              1
Swimming after being washed overboard        1
Trailing the field in a surf race            1
"Boat accident"                              1
Name: activity, Length: 1502, dtype: int64

In [49]:
# Check the unique values in the column
print(f'Now, there are {len(list(df.activity.unique()))} unique values in this column.\n')
df.activity.unique()

Now, there are 1502 unique values in this column.

array(['Boogie boarding', 'Surfing', 'Fishing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

For this analysis, only the activity that was involved the most in the shark incidents is important, but I will check the top 10 activities.

In [50]:
# Check the top 10 actvities
df.activity.value_counts(dropna=False).head(10)

Surfing         1039
Swimming         935
NaN              552
Fishing          469
Spearfishing     362
Bathing          166
Wading           160
Diving           134
Standing         106
Snorkeling       102
Name: activity, dtype: int64

### Surinfg

## Extra - Year

tirar da coluna 'date'. Todos no date o ano estÃ¡ como 0.
coluna 'year' tem  2 NaN.

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 6557
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6497 non-null   object
 1   year      6495 non-null   float64
 2   type      6491 non-null   object
 3   country   6448 non-null   object
 4   area      6034 non-null   object
 5   location  5953 non-null   object
 6   activity  5945 non-null   object
 7   sex       5931 non-null   object
 8   age       3610 non-null   object
 9   injury    6467 non-null   object
 10  fatal     5951 non-null   object
 11  time      3115 non-null   object
 12  species   3571 non-null   object
 13  cat_age   6497 non-null   object
dtypes: float64(1), object(13)
memory usage: 761.4+ KB

In [59]:
df.date.value_counts(dropna=False)

1957           9
1942           8
1958           7
No date        6
1941           6
              ..
14-Feb-2004    1
01-Aug-1939    1
24-Oct-2016    1
May-2001       1
02-Oct-2000    1
Name: date, Length: 5626, dtype: int64

In [69]:
pattern = '[Nn]o date'
len(df[df.date.str.contains(pattern, na=False)].index)

26

In [70]:
pattern = '[Nn]o date'
df[df.date.str.contains(pattern, na=False)]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species,cat_age
6465,"No date, late 1960s",0.0,Unprovoked,VENEZUELA,Los Roques Islands,NaN,Spearfishing,M,NaN,"FATAL (x3), one survived with minor injuries",Y,NaN,said to involve 2.5 m hammerhead sharks,No category
6471,"No date, Before 1963",0.0,Unprovoked,BAHREIN,NaN,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,Tiger shark,No category
6473,No date,0.0,Unprovoked,USA,Florida,"Key West, Monroe County",Kitesurfing,M,NaN,Hand bitten,N,NaN,NaN,No category
6474,No date,0.0,Unprovoked,REUNION,Grand'Anse,Petite-Ã®le,yachtsman in a zodiac,M,NaN,Survived,N,NaN,NaN,No category
6476,"No date, Before May-1996",0.0,Unprovoked,KOREA,South Korea,Cheju Island,Diving,F,NaN,"FATAL, injured while diving, then shark bit her",Y,NaN,NaN,No category
6477,"No date, Before Mar-1995",0.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,Rangiroa,Fishing,M,NaN,"Speared a shark, fell overboard and another sh...",N,NaN,NaN,No category
6479,"No date, Before Aug-1989",0.0,Unprovoked,VANUATU,Malampa Province,Malakula,NaN,F,NaN,FATAL,Y,NaN,NaN,No category
6480,"No date, Before Aug-1987",0.0,Provoked,VANUATU,Malampa Province,"Hokai, Malakula",Attempting to drive shark from area,M,NaN,Speared shark broke outrigger of canoe throwin...,N,NaN,A large hammerhead shark,No category
6481,"No date, Before 1987",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,M,NaN,Foot severed,N,NaN,Bull shark,No category
6482,"No date, Before 1975",0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,M,19,"Ankle punctured & lacerated, hands abraded PRO...",N,NaN,"Nurse shark, 2.1 m [7']",Young Adult
6483,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,NaN,Questionable,No category
6484,"No date, Before 1969",0.0,Unprovoked,RED SEA?,NaN,NaN,Free diving,F,NaN,"Shoulder scratched, swim fin bitten",N,Morning,NaN,No category
6485,"No date, Before 3-Jan-1967",0.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Keiskamma River mouth,Crossing river on a raft,M,NaN,"FATAL, leg severed",Y,NaN,NaN,No category
6486,"No date, Before 1963",0.0,Unprovoked,USA,California,"LaJolla, San Diego County","Free diving, collecting sand dollars",M,NaN,Calf bitten,N,NaN,"Shovelnose guitarfish, adult male",No category
6487,"No date, Before 8-May-1965",0.0,Unprovoked,GREECE,Island of Volos,Eastern shore,Swimming,F,NaN,FATAL,Y,NaN,NaN,No category
6488,"No date, Before 1963",0.0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,M,NaN,A 4.3 m [14'] shark made threat display. No in...,NaN,NaN,Invalid,No category
6489,"No date, Before 1902",0.0,Unprovoked,USA,Florida,"Mosquito Inlet (Ponce Inlet), Volusia County",Canoeing,M,NaN,FATAL,Y,NaN,NaN,No category
6490,"No date, Before 1902",0.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,NaN,M,NaN,FATAL,Y,NaN,NaN,No category
6491,"No date, Before 1963",0.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Diving for trochus,M,NaN,Calf removed,N,NaN,0.9 m [3'] shark,No category
6492,"No date, After August 1926 and before 1936",0.0,Unprovoked,AUSTRALIA,Western Australia,Cossack Creek,Pearl diving,M,NaN,Leg bitten,N,NaN,NaN,No category
6493,"No date, Before 1963",0.0,Unprovoked,SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,Recovered,N,NaN,NaN,No category
6531,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,M,NaN,Head bitten,N,NaN,NaN,No category
6535,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,F,NaN,Ankle bitten,N,NaN,NaN,No category
6536,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,M,NaN,Lacerations to thigh,N,NaN,NaN,No category
6537,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,M,NaN,"FATAL, leg severed",Y,NaN,NaN,No category
6545,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,No category

In [71]:
df[df.date.isna()]

Empty DataFrame
Columns: [date, year, type, country, area, location, activity, sex, age, injury, fatal, time, species, cat_age]
Index: []

In [63]:
pattern = '\d*\d*\d*\d'
df[df.date.str.contains(pattern, na=False)]

,date,year,type,country,area,location,activity,sex,age,injury,fatal,time,species,cat_age
0,20-Aug-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,F,50,Minor lacerations to left leg,N,11h00,NaN,Adult
1,14-Aug-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Port Macquarie",Surfing,F,35,Lacerations to right calf and posterior thigh,N,09h30,"White shark, 2-to 3m",Young Adult
2,10-Aug-2020,2020.0,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'",Adult
3,02-Aug-2020,2020.0,Unprovoked,USA,Virgin Islands,"Candle Reef, St. Croix",Snorkeling,F,NaN,Lacerations to hand and wrist,N,14h00,"Nurse shark, 5'",No category
4,31-Jul-2020,2020.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,F,22,Lacerations to foot,N,17h00,NaN,Young Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6553,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,NaN,No category
6554,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,NaN,No category
6555,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,NaN,No category
6556,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,M,NaN,FATAL,Y,NaN,NaN,No category
6557,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,Teenager

In [56]:
#
pattern = '\d\d\d\d'
df[df.date.str.contains(pattern, na=False)].

array([2020., 2019., 2018., 2017.,   nan, 2016., 2015., 2014., 2013.,
       2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005., 2004.,
       2003., 2002., 2001., 2000., 1999., 1998., 1997., 1996., 1995.,
       1984., 1994., 1993., 1992., 1991., 1990., 1989., 1969., 1988.,
       1987., 1986., 1985., 1983., 1982., 1981., 1980., 1979., 1978.,
       1977., 1976., 1975., 1974., 1973., 1972., 1971., 1970., 1968.,
       1967., 1966., 1965., 1964., 1963., 1962., 1961., 1960., 1959.,
       1958., 1957., 1956., 1955., 1954., 1953., 1952., 1951., 1950.,
       1949., 1948., 1848., 1947., 1946., 1945., 1944., 1943., 1942.,
       1941., 1940., 1939., 1938., 1937., 1936., 1935., 1934., 1933.,
       1932., 1931., 1930., 1929., 1928., 1927., 1926., 1925., 1924.,
       1923., 1922., 1921., 1920., 1919., 1918., 1917., 1916., 1915.,
       1914., 1913., 1912., 1911., 1910., 1909., 1908., 1907., 1906.,
       1905., 1904., 1903., 1902., 1901., 1900., 1899., 1898., 1897.,
       1896., 1895., 1894., 1893., 1892., 1891., 1890., 1889., 1888.,
       1887., 1886., 1885., 1884., 1883., 1882., 1881., 1880., 1879.,
       1878., 1877., 1876., 1875., 1874., 1873., 1872., 1871., 1870.,
       1869., 1868., 1867., 1866., 1865., 1864., 1863., 1862., 1861.,
       1860., 1859., 1858., 1857., 1856., 1855., 1853., 1852., 1851.,
       1850., 1849., 1847., 1846., 1845., 1844., 1842., 1841., 1840.,
       1839., 1837., 1836., 1835., 1834., 1832., 1831., 1830., 1829.,
       1828., 1827., 1826., 1825., 1823., 1822., 1819., 1818., 1817.,
       1816., 1815., 1812., 1811., 1810., 1808., 1807., 1805., 1804.,
       1803., 1802., 1800., 1797., 1792., 1791., 1788., 1787., 1786.,
       1785., 1784., 1783., 1780., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [54]:
# Check how many different activities contain the word "surfing"
# Varible with the pattern of the word
pattern = '[Ss]urfing'

# Check all values containing the word "surfing"
print(f'There are {len(df[df.activity.str.contains(pat=pattern, na=False)].activity.unique())} values.')
df[df.activity.str.contains(pat=pattern, na=False)].activity.unique()

There are 62 values.

array(['Surfing', 'Body Surfing', 'Windsurfing', 'Body-surfing',
       'Kite surfing', 'Body surfing', 'Body surfing?', 'Bodysurfing',
       'Surfing & filming dolphins', 'Body surfing or Boogie boarding',
       'Kite Surfing', 'Kitesurfing', 'Paddle-surfing',
       'Swimming or surfing', 'Walking out of the water after surfing',
       'Swimming / Body Surfing', 'Night Surfing', 'Standing / Surfing',
       'Treading water/ Surfing', 'Tandem surfing',
       'Surfing amid a shoal of sharks', 'Boogie boarding or Surfing',
       'Surfing, but standing in water alongside board',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Standing / surfing', 'Swimming / Body surfing',
       'Windsurfing, but sitting on his board', 'Surfing / Wading',
       'Surfing (sitting on his board)', 'Surfing, lying on surfboard',
       'Wading to shore after surfing', 'Body surfing or body boarding',
       'Surfing (or body boarding)', 'Swimming / surfing',
       'Surfing (lying prone on his board)', 'Body boarding or surfing',
       'Walking / surfing', 'Wading / Surfing',
       'Body surfing, stood up on sandbar', 'Surfing / Swimming',
       'Wind surfing', 'Surfing, sitting on board',
       'Surfing, paddling seawards', 'Surfing, paddling shorewards',
       'Surfing, collided with shark', 'Surfing (or sailboarding)',
       'Windsurfing (urinating on his board)', 'Surfing with dolphins',
       'Surfing / treading water',
       'Surfing, but lying prone on his board', 'Surfing or body surfing',
       'Surfing & dangling foot in water amid baitfish',
       'Surfing, fell off surfboard',
       'Surfing, but swimming to his board',
       'Surfing on "chest board" (boogie board?)',
       'Surfing, pushing board ashore', 'Surfing, but treading water',
       'Surfing on air mattress', 'Body surfing & treading water',
       'Body surfing / treading water', 'Surfing (pneumatic surfboard)',
       'Bathing or body surfing'], dtype=object)

In [55]:
# Check how many different activities contain the word "swimming"
# Varible with the pattern of the word
pattern = '[Ss]wimming'

# Check all values containing the word "swimming"
print(f'There are {len(df[df.activity.str.contains(pat=pattern, na=False)].activity.unique())} values.')
df[df.activity.str.contains(pat=pattern, na=False)].activity.unique()

There are 183 values.

array(['Swimming', 'Swimming after being swept off rocks',
       'Swimming/ Treading water', 'Swimming with sharks',
       'Swimming, poaching abalone', 'Swimming / Wading',
       'Swimming after falling overboard', 'Swimming / snorkeling',
       'Marathon swimming', 'Swimming & snorkeling',
       'Swimming or boogie boarding', 'Wading or swimming',
       'Swimming or Snorkeling', 'Swimming /  Whale Watching',
       'Swimming after boat became disabled', 'Swimming / treading water',
       'Swimming to shore from capsized kayak',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Swimming, towing surfboard', 'Swimming or surfing',
       'Swimming / jumping off a jetty', 'Swimming / Body Surfing',
       'Swimming with boogie board', 'Swimming, poaching perlemoen',
       'Boogie-boarding / swimming', 'Swimming / shipwreck',
       'Swimming to shore from boat or kayak',
       'Swimming, wearing black wetsuit & swim fins',
       'Swimming with pod of dolphins', 'Swimming (using a float)',
       'Swimming /  boogie boarding',
       'Swimming back from anchored sailboat', 'Swimming / Body surfing',
       'Swimming out to porpoises',
       'Spearfishing, but swimming at surface', 'Swimming with dolphins',
       'Swimming after being swept into sea by a large wave',
       'Swimming, towing a kayak', 'Swimming near pod of whales',
       'Swimming / surfing', 'Swimming or paddle boarding',
       'Swimming or snorkeling', 'Surfing / Swimming',
       'Swimming breast stoke', 'Swimming in fish tank',
       'Swimming with mask & snorkel',
       'Swimming alongside NOAA research vessel Discoverer',
       'Swimming, after falling off towed kneeboard',
       'Swimming from makeshift raft  to life vest after fishing boat sank',
       'Swimming behind sailboat', 'Swimming in canal',
       'Scuba diving, but swimming on surface',
       'Swimming in strong current with 3 others when he disappeared',
       'Swimming from shore to anchored sailboat',
       'Swimming from the New Venture',
       'Spearfishing, but swimming on surface', 'Freedom swimming',
       'Swimming, after single-engine aircraft went down in the sea',
       'Swimming near his boat',
       'Swimming underwater from crayfish cage to a fishing bait',
       'Freedom Swimming', 'Swimming alongside yacht Mexico Fiesta',
       'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
       'Swimming after his canoe capsized',
       'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore',
       'Swimming in the channel', 'Canoe swamped, swimming back to canoe',
       'Swimming out to rescue swimmers in difficulty',
       'Surfing, but swimming to his board',
       'Swimming along a row of nets', 'Swimming outside fishing net',
       'Swimming with other crew near wharf',
       'Swimming, using bundles of sticks as raft',
       'Taking boat from California to Florida when it ran aground & he was swimming back to boat',
       'Swimming 3 miles offshore', 'Swimming from camp',
       'Swimming underneath house on pilings',
       "Swimming at surface through school of feeding 2.5' to 5â€™ sharks",
       'Swimming ashore from capsized boat', 'Swimming with motor tube',
       'Swimming near jetty',
       'Swimming, ducking for shells in water 0.9 m deep',
       'Swimming, towing the shark', 'Swimming with goggles',
       'Spearfishing / swimming on surface',
       'Swimming between  anchored  pearling luggers',
       'Swimming near pier', 'Swimming, attacked at  surf carnival',
       'Swimming off yacht', 'Swimming near breakwater',
       'Swimming with speared fish',
       'Dived overboard & was swimming near stern of trawler',
       'Swimming near canoe',
       'Swimming or wading out  to warn bathers that a shark had been seen',
       'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
       'Swimming from fishing boat setting nets', 'Swimming on surface',
       'Swimming near shore', 'Swimming close to wharf',
       "Swimming near jetty with 2' piece of wood",
       'Swimming after a tennis ball',
       'American minesweeper USS YMS-472 foundered in a typhoon - swimming to shore',
       'American minesweeper USS YMS-350 lost in a typhoon - swimming to shore',
       'Swimming near life raft',
       'USS Johnston DD 557 sunk on 10/24/1944 in the Battle off Samara. Crewmen were swimming beside a raft.',
       'Swimming with board',
       'Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface',
       'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished',
       'Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.',
       'The Pacquebot Laconia, enroute to Liverpool with 600 Italian prisoners onboard, was torpedoed by the German submarine  U-156 and only 2 rafts were launched before the ship went down. Unable to board an overcrowded raft, he was swimming.',
       'Swimming along side N.E.L. vessel Saluda',
       'Swimming at edge of channel',
       'Free diving for trochus shell, swimming to dinghy',
       'Bathing/Swimming', 'Swimming to anchored boat',
       'Swimming alongside warship   Tsingt-ao', 'Swimming, naked',
       'Refused permission to cross on the ferry, he was swimming across the river',
       'Swimming ashore after launch capsized', 'Swimming crawl stroke',
       'Diving for trochus , but swimming on surface',
       'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
       'Swimming (lead swimmer in race)', 'Swimming & splashing',
       'Swimming in waist-deep water', 'Swimming in hip-deep water',
       'Swimming outside the safety enclosure attempting to retrieve a tennis ball drifting toward midstream',
       'Swimming on sandbar adjacent to channel',
       'Swimming to shore from capsized sailboat',
       'Swimming a quarter mile offshore',
       'Swimming, carrying tin can with mail to steamer',
       'Swimming / floating',
       'Swimming to shore after a squall  capsized their motorized shark fishing boat',
       'Swimming between boats', 'Jumped overboard and swimming',
       'Swimming with dog near canning factory', 'Swimming to mail boat',
       'Fishing, fell in water & swimming strongly to shore',
       'Had just dived into water & was swimming',
       'Boat capsized, swimming to shore',
       'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
       '"Swimming vigorously"', 'Swimming, towing an empty barrel',
       'Swimming to shore from the Medic', 'Swimming beside launch',
       'Swimming 10 m from shore',
       'Swimming (recovering remains of Stilwell)',
       'Swimming ashore from swamped 13-ft boat',
       'Swimming after his hat', 'Swimming from foundered vessel',
       'Fell overboard & swimming',
       'Swimming from naptha launch after a day of fishing',
       'Swimming, after falling overboard',
       'Swimming after their boat capsized',
       'Swimming at side of small boat',
       'Attempting to escape by swimming to shore',
       'Swimming ashore from a "filibuster"',
       'Swimming, after sailboat capsized',
       'Swimming / floating on his back',
       'Swimming after harpooned whale capsized boat',
       'Swimming after falling overboard from the sealing ship Vesper',
       'Boat capsized, swimming ashore', 'Swimming, after boat swamped',
       'Swimming to shore after boat capsized by a squall',
       'Swimming after being washed overboard',
       'Swimming / escaping imprisonment',
       'Swimming to retrieve a flannel', 'Swimming to avoid capture',
       'Swimming alongside the schooner Catherine Wilcox',
       'Swimming, caught in strong backwash & disappeared',
       'Swimming alongside the SS Kearsarge',
       'Swimming from capsized boat', 'Swimming/', 'Swimming to canoe',
       'Swimming from capsized pirogue',
       'Swimming naked near a date palm where many dates fell into the water',
       'Swimming in section of river used for washing clothes & cooking utensils',
       'Swimming with fish attached to  belt',
       'Swimming near anchored ship',
       'Aircraft ditched in the sea, swimming ashore',
       'Swimming in pool formed by construction of a wharf',
       'Swimming around anchored ship',
       'Crew swimming alongside their anchored ship'], dtype=object)

# Analyzing the dataset

## Gender

## Activity

## Age

## Age

In [ ]:
df.Age.unique()

In [ ]:
# Function to convert string to integer
def convert_str_to_int(age):
    try:
        age = int(age)
    except:
        age = -1
    return age

In [ ]:
# Number 
df_total = df.Date.count()
print(df_total)

# Convert the strings in column 'Age' to integers
df['age_int'] = df.Age.apply(convert_str_to_int)

# How many were not digits
print(df.loc[df.age_int == -1, :].age_int.value_counts() / 6558)
print(df.loc[df.age_int == -1, :].age_int.value_counts() / df_total)

# Check the result
df

In [ ]:
# Classification by age
df['age_cat'] = np.where(df['age_int'] > 65, 'Elder',
                        np.where(df['age_int'] > 35, 'Adult',
                                np.where(df['age_int'] > 17, 'Young Adult',
                                        np.where(df['age_int'] > 12, 'Teenager',
                                                 np.where(df['age_int'] == -1, '-', 'Child')))))

## Year

In [ ]:
df.Year.unique()

In [ ]:
# Convert the strings in column 'Year' to integers
df['year_int'] = df.Year.apply(convert_str_to_int)

# Check the result
df

In [ ]:
# Check % incidents occured before 1801
print(f'The incidents before 1801 represents only {(df[df.Year < 1801].Year.count() / df.Year.count()) * 100:.2f}%',
      f'of the dataset. So, only the years from 1800 will be analysed.', sep=' ')

In [ ]:
# Selecting only the years from 1800
df = df.loc[df['Year'] >= 1801, :]
df.info()

In [ ]:
df

In [ ]:
# Classification by year
df['century'] = np.where(df['year_int'] >= 2001, 21,
                            np.where(df['year_int'] >= 1901, 20, 19))

In [ ]:
df

## Gender

In [ ]:
# Check the column 'Sex'
df.Sex.unique()

In [ ]:
df.Sex.count()

In [ ]:
# % of each value
df.Sex.value_counts() / df.Sex.count()

In [ ]:
# % of each NaN
df.Sex.isna().sum()

In [ ]:
# Check number of missing values
print(f'The number of NaN in the column "Sex" is {df.Sex.isna().sum()}, which represents '
      f'{(df.Sex.isna().sum() / df.Sex.count())*100:.2f}% of the dataset.', sep=' ')

Since the NaN represents only a samll part of the dataset, the rows containing NaN in the column 'Sex' will be removed.

In [ ]:
# Remove rows that the column 'Sex' is a missing value
df[df.Sex.isna()]
df = df.drop(df[df.Sex.isna()].index)

In [ ]:
# Check infromation about the changed dataset
df.info()

In [ ]:
# Check values in the column 'Sex'
df.Sex.value_counts()

In [ ]:
# Remove unnecessary spaces in the values of the column 'Sex'
df['Sex'] = df['Sex'].str.strip()
df.Sex.value_counts()

In [ ]:
# Remove rows that the gender is 'N', 'lli', '.' or 'M x 2'
df = df.drop(df[(df.Sex == '.') | (df.Sex == 'N') | (df.Sex == 'lli') | ((df.Sex == 'M x 2'))].index)
df.Sex.value_counts()

In [ ]:
# Check infromation about the changed dataset
# 5 columns were removed
df.info()

In [ ]:
# Check column 'Sex' percentage
df_gener_total = df.Sex.value_counts().sum()
df.Sex.value_counts() / df_gener_total

In [ ]:
print(f'The males represent {(df.Sex.value_counts() / df_gener_total)[0]*100:.2f}% of the people who were'
      f'involved in incidents with sharks, while women represent only {(df.Sex.value_counts() / df_gener_total)[1]*100:.2f}%.',sep=' ')

In [ ]:
# Create a subset containing only females
df_male = df.loc[df['Sex'] == 'F']

In [ ]:
# Create a subset containing only males
df_male = df.loc[df['Sex'] == 'M']
df_male.info()

In [ ]:
# Check males age
df_male.age_cat.value_counts()

In [ ]:
df_male_total = df_male.Date.count()
df_male_total

In [ ]:
# Check males age
df_male.age_cat.value_counts() / df_male_total

In [ ]:
(df_male.age_cat.value_counts() / df_male_total)*100

In [ ]:
df_male_age = df_male.loc[df_male['age_cat'] != '-']
df_male_age_total = df_male_age.Date.count()
df_male_age.info()

In [ ]:
df_male_age_total

In [ ]:
df_male_age.age_cat.value_counts()

In [ ]:
df_male_age.age_cat.value_counts() / df_male_age_total

In [ ]:
(df_male_age.age_cat.value_counts() / df_male_age_total)*100

50% of male who were in a shark incident were Young Adults.

In [ ]:
df_male_ya = df_male_age[df_male_age['age_cat'] == 'Young Adult']
df_male_ya.info()

In [ ]:
df_male_ya_total = df_male_ya.Date.count()
df_male_ya.groupby(by='Activity').age_cat.count().sort_values(ascending=False)

In [ ]:
(df_male_ya.groupby(by='Activity').age_cat.count().sort_values(ascending=False) / df_male_ya_total)*100

**Young adult males surfing were the most involved in shark incidents.**

# Exporting dataset

In [ ]:
df

In [ ]:
#df.to_csv('sharks_clean.csv')

# Extra - Analysis though centuries

## Setup

In [ ]:
# Create subsets for each century
df_cen21 = df.loc[df['century'] == 21, :]
df_cen20 = df.loc[df['century'] == 20, :]
df_cen19 = df.loc[df['century'] == 19, :]

In [ ]:
df_cen21_total = df_cen21.Date.count()
print(df_cen21_total)
df_cen21.info()

In [ ]:
df_cen20_total = df_cen20.Date.count()
print(df_cen20_total)
df_cen20.info()

In [ ]:
df_cen19_total = df_cen19.Date.count()
print(df_cen19_total)
df_cen19.info()

We are not even 1/4 of the 21st century and the number of shark incidents getting closer to the number of incidents in the 20th century. However, we also have to consider that there may be a probability that not all incidents were registered in the last century.

## Gender

In [ ]:
df_cen21.Sex.value_counts() / df_cen21_total

In [ ]:
(df_cen21.Sex.value_counts() / df_cen21_total) * 100

In [ ]:
df_cen20.Sex.value_counts() / df_cen20_total

In [ ]:
(df_cen20.Sex.value_counts() / df_cen20_total) * 100

In [ ]:
df_cen19.Sex.value_counts() / df_cen19_total

In [ ]:
(df_cen19.Sex.value_counts() / df_cen19_total) * 100

This result reflects each gender's behaviors in each century. Long time ago, women usually would just take care of the house and were not allowed to do many things.

## Activity

In [ ]:
df_cen21.Activity.value_counts() / df_cen21_total

In [ ]:
(df_cen21.Activity.value_counts() / df_cen21_total) * 100

In [ ]:
df_cen20.Activity.value_counts() / df_cen20_total

In [ ]:
(df_cen20.Activity.value_counts() / df_cen20_total) * 100

In [ ]:
df_cen19.Activity.value_counts() / df_cen19_total

In [ ]:
(df_cen19.Activity.value_counts() / df_cen19_total) * 100